.top-panel{
    display: flex;
    justify-content: space-around;
    width: 80%;
    color: #fff;
    margin-bottom: 1em;
}
.game{
    border: 2px solid #000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    padding: 5px;
}
.game9{
    border: 2px solid #000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    padding: 5px;
    
}
.game-item{
    width: 70px;
    height: 70px;
    background-color: rgb(231, 231, 231);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    border: 1px solid #555555;
    border-radius: 20px;
    box-shadow: inset 0 0 10px #4c4c4c, 3px 3px 5px #383535;
}
.game-over{
    filter: blur(3px) brightness(80%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(205, 230, 250);
}

.wrapper {

    max-width: 800px;
    margin: 100px auto;
    font-size: 20px;
    padding: 20px;
    background: linear-gradient(180deg, rgb(4, 21, 131), rgb(56, 74, 197), rgb(34, 5, 196), rgb(80, 51, 246));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    border: none;
    box-shadow: 5px 5px 5px #3a339e;
    border-radius: 25px;
}

h1, title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
}


button:not(.btn) {
    padding: 10px 15px;
    background: blue;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    font-size: 25px;
    border: none;
    box-shadow: 5px 5px 5px #595959;
}

button:hover {
    background: rgb(1, 1, 155);
}

button:active {
    box-shadow: inset 2px 2px 10px #0c0c0c;
    background: blue;
}

.btns {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
}



.error {
    color: red;
    font-style: italic;
}

.item__edit {
    min-width: 100%;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    font-size: 20px;
    justify-self: auto;
}

.active {
    background-color: #3a339e;
    box-shadow: inset 2px 2px 10px #0c0c0c;
}

.btn {
    padding: 10px 15px;

    border-radius: 25px;
    color: white;
    font-weight: 600;
    font-size: 25px;
    border: none;
    
}

.btn:not(.active) {
    background-color: rgb(0, 117, 250);
    box-shadow: 5px 5px 5px #595959;
}

.wrapper.dark{
    background: linear-gradient(180deg, rgb(4, 12, 65), rgb(34, 46, 128), rgb(24, 5, 133), rgb(68, 43, 206));
}
.dark .game-item{
    background-color: rgb(110, 110, 110);
    color: rgb(235, 248, 248);
}
.dark button:not(.btn){
    background-color: rgb(18, 18, 87);
}