header {
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

header.dark {
    background-color: #333;
    color: #fff;
}

nav {
    display: flex;
}

nav a {
    padding: 1em 1.5em;
    color: inherit;
    text-decoration: none;
}

nav a.active {
    box-shadow: inset 0 0 10px #fff;
    border-radius: 30px;
    background-color: #7c7c7c;
}
.mode{
    padding-inline: 30px;
}